.md-typeset .grid {
    grid-gap: .4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    margin: 1em 0;
}

.md-typeset .grid.cards>:-webkit-any(ul,
    ol) {
    display: contents
}

.md-typeset .grid.cards>:-moz-any(ul,
    ol) {
    display: contents;
}

.md-typeset .grid.cards>:is(ul,
    ol) {
    display: contents;
}

.md-typeset .grid.cards>:-webkit-any(ul,
    ol)>li,
.md-typeset .grid>.card {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    margin: 0;
    padding: .8rem;
    -webkit-transition: border .25s, box-shadow .25s;
    transition: border .25s, box-shadow .25s
}

.md-typeset .grid.cards>:-moz-any(ul,
    ol)>li,
.md-typeset .grid>.card {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    margin: 0;
    padding: .8rem;
    -moz-transition: border .25s, box-shadow .25s;
    transition: border .25s, box-shadow .25s
}

.md-typeset .grid.cards>:is(ul,
    ol)>li,
.md-typeset .grid>.card {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s, box-shadow .25s
}

.md-typeset . .cards>:-webkit-any(ul,
    ol)>li:-webkit-any(:focus-within,
    :hover),
.md-typeset .grid>.card:-webkit-any(:focus-within,
    :hover) {
    border-color: transparent;
    box-shadow: var(--md-shadow-z2)
}

.md-typeset .grid.cards>:-moz-any(ul,
    ol)>li:-moz-any(:focus-within,
    :hover),
.md-typeset .grid>.card:-moz-any(:focus-within,
    :hover) {
    border-color: transparent;
    box-shadow: var(--md-shadow-z2)
}

.md-typeset .grid.cards>:is(ul,
    ol)>li:is(:focus-within,
    :hover),
.md-typeset .grid>.card:is(:focus-within,
    :hover) {
    border-color: transparent;
    box-shadow: var(--md-shadow-z2)
}

.md-typeset .grid.cards>:-webkit-any(ul,
    ol)>li>hr,
.md-typeset .grid>.card>hr {
    margin-bottom: 1em;
    margin-top: 1em
}

.md-typeset .grid.cards>:-moz-any(ul,
    ol)>li>hr,
.md-typeset .grid>.card>hr {
    margin-bottom: 1em;
    margin-top: 1em
}

.md-typeset .grid.cards>:is(ul,
    ol)>li>hr,
.md-typeset .grid>.card>hr {
    margin-bottom: 1em;
    margin-top: 1em
}

.md-typeset .grid.cards>:-webkit-any(ul,
    ol)>li>:first-child,
.md-typeset .grid>.card>:first-child {
    margin-top: 0
}

.md-typeset .grid.cards>:-moz-any(ul,
    ol)>li>:first-child,
.md-typeset .grid>.card>:first-child {
    margin-top: 0
}

.md-typeset .grid.cards>:is(ul,
    ol)>li>:first-child,
.md-typeset .grid>.card>:first-child {
    margin-top: 0
}

.md-typeset .grid.cards>:-webkit-any(ul,
    ol)>li>:last-child,
.md-typeset .grid>.card>:last-child {
    margin-bottom: 0
}

.md-typeset .grid.cards>:-moz-any(ul,
    ol)>li>:last-child,
.md-typeset .grid>.card>:last-child {
    margin-bottom: 0
}

.md-typeset .grid.cards>:is(ul,
    ol)>li>:last-child,
.md-typeset .grid>.card>:last-child {
    margin-bottom: 0
}

.md-typeset .grid>* {
    margin-bottom: 0;
    margin-top: 0
}

.md-typeset .grid>:-webkit-any(.admonition,
    details) {
    margin-bottom: 0;
    margin-top: 0
}

.md-typeset .grid>:-moz-any(.admonition,
    details) {
    margin-bottom: 0;
    margin-top: 0
}

.md-typeset .grid>:is(.admonition,
    details) {
    margin-bottom: 0;
    margin-top: 0
}

.md-typeset .grid>.highlight>*,
.md-typeset .grid>.highlighttable,
.md-typeset .grid>pre {
    margin-bottom: 0;
    margin-top: 0
}

.md-typeset .grid>.highlight>pre:only-child,
.md-typeset .grid>.highlight>pre>code,
.md-typeset .grid>.highlighttable,
.md-typeset .grid>.highlighttable>tbody,
.md-typeset .grid>.highlighttable>tbody>tr,
.md-typeset .grid>.highlighttable>tbody>tr>.code,
.md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight,
.md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre,
.md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre>code {
    height: 100%
}

.md-typeset .grid>.tabbed-set {
    margin-bottom: 0;
    margin-top: 0
}

:root {
    --md-admonition-icon--intuition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 6a6 6 0 0 1 6 6c0 2.22-1.21 4.16-3 5.2V19a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-1.8c-1.79-1.04-3-2.98-3-5.2a6 6 0 0 1 6-6m2 15v1a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-1h4m6-10h3v2h-3v-2M1 11h3v2H1v-2M13 1v3h-2V1h2M4.92 3.5l2.13 2.14-1.42 1.41L3.5 4.93 4.92 3.5m12.03 2.13 2.12-2.13 1.43 1.43-2.13 2.12-1.42-1.42Z"/></svg>')
}

.md-typeset .admonition.intuition,
.md-typeset details.intuition {
    border-color: rgb(255, 255, 0);
}

.md-typeset .intuition>.admonition-title,
.md-typeset .intuition>summary {
    background-color: rgba(255, 255, 0, 0.1);
}

.md-typeset .intuition>.admonition-title::before,
.md-typeset .intuition>summary::before {
    background-color: rgb(255, 255, 0);
    -webkit-mask-image: var(--md-admonition-icon--intuition);
    mask-image: var(--md-admonition-icon--intuition);
}

:root {
    --md-admonition-icon--code-cpp: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m10.5 15.97.41 2.44c-.26.14-.68.27-1.24.39-.57.13-1.24.2-2.01.2-2.21-.04-3.87-.7-4.98-1.96C1.56 15.77 1 14.16 1 12.21c.05-2.31.72-4.08 2-5.32C4.32 5.64 5.96 5 7.94 5c.75 0 1.4.07 1.94.19s.94.25 1.2.4l-.58 2.49-1.06-.34c-.4-.1-.86-.15-1.39-.15-1.16-.01-2.12.36-2.87 1.1-.76.73-1.15 1.85-1.18 3.34 0 1.36.37 2.42 1.08 3.2.71.77 1.71 1.17 2.99 1.18l1.33-.12c.43-.08.79-.19 1.1-.32M11 11h2V9h2v2h2v2h-2v2h-2v-2h-2v-2m7 0h2V9h2v2h2v2h-2v2h-2v-2h-2v-2Z"/></svg>')
}

.md-typeset .admonition.code-cpp,
.md-typeset details.code-cpp {
    border-color: rgb(96, 146, 199);
}

.md-typeset .code-cpp>.admonition-title,
.md-typeset .code-cpp>summary {
    background-color: rgb(96, 146, 199, 0.1);
}

.md-typeset .code-cpp>.admonition-title::before,
.md-typeset .code-cpp>summary::before {
    background-color: rgb(96, 146, 199);
    -webkit-mask-image: var(--md-admonition-icon--code-cpp);
    mask-image: var(--md-admonition-icon--code-cpp);
}

:root {
    --md-admonition-icon--code-python: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>')
}

.md-typeset .admonition.code-python,
.md-typeset details.code-python {
    border-color: rgb(96, 146, 199);
}

.md-typeset .code-python>.admonition-title,
.md-typeset .code-python>summary {
    background-color: rgb(96, 146, 199, 0.1);
}

.md-typeset .code-python>.admonition-title::before,
.md-typeset .code-python>summary::before {
    background-color: rgb(96, 146, 199);
    -webkit-mask-image: var(--md-admonition-icon--code-python);
    mask-image: var(--md-admonition-icon--code-python);
}

.code-cpp>p {
    min-height: 36.4833px;
}

.code-python>p {
    min-height: 36.4833px;
}

/* .md-typeset div[src$="#gh-dark-mode-only"],
.md-typeset div[src$="#only-dark"] {
    display: none;
}

[data-md-color-scheme="slate"] div[src$="#gh-light-mode-only"],
[data-md-color-scheme="slate"] div[src$="#only-light"] {
    display: none;
} */